header h1 a, header h1 a:hover, a.button, a.button:hover {
    color: white;
    text-decoration: none;
}

.navbar ul.nav li {
    list-style-type: none;
}

.navbar-static {
    margin-bottom: 30px;
}

.alert h4:before { content: ""; margin-left: 0; }
.alert h4 { color: #c09853!important; }
.alert-success h4 { color: #468847!important; }
.alert-danger h4, .alert-error h4 { color: #b94a48!important; }
.alert-info h4 { color: #3a87ad!important; }
h1, h2, h3, h4, h5, h6, #main-content h3 { margin-top: 0; }